USE [master]
GO
/****** Object:  Database [yachaydi_market]    Script Date: 11/28/2017 7:59:36 AM ******/
CREATE DATABASE [yachaydi_market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yachaydi_market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\yachaydi_market.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'yachaydi_market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\yachaydi_market_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yachaydi_market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yachaydi_market]
GO
USE [yachaydi_market]
GO
/****** Object:  Schema [yachaydi_admin]    Script Date: 11/28/2017 7:59:36 AM ******/
CREATE SCHEMA [yachaydi_admin]
GO
/****** Object:  Table [yachaydi_admin].[Alerta]    Script Date: 11/28/2017 7:59:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Alerta](
	[IdAlerta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdNegocio] [int] NULL,
	[IdProducto] [int] NULL,
	[Fecha] [datetime] NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Alerta] PRIMARY KEY CLUSTERED 
(
	[IdAlerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[Horario_Negocio]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Horario_Negocio](
	[id_Negocio] [int] NOT NULL,
	[dia_Laboral] [tinyint] NOT NULL,
	[dia_nombre] [nvarchar](10) NULL,
	[Hora_Inicio] [tinyint] NOT NULL,
	[Minutos_Inicio] [tinyint] NOT NULL,
	[Hora_Fin] [tinyint] NOT NULL,
	[Minutos_Fin] [tinyint] NOT NULL,
 CONSTRAINT [PK_Horario_Negocio] PRIMARY KEY CLUSTERED 
(
	[id_Negocio] ASC,
	[dia_Laboral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[Negocio]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Negocio](
	[id_Negocio] [int] IDENTITY(1,1) NOT NULL,
	[email_Negocio] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [bigint] NULL,
	[Celular] [bigint] NULL,
	[Direccion_texto] [nvarchar](200) NOT NULL,
	[Referencia] [nvarchar](300) NULL,
	[Direccion_Latitud] [nvarchar](50) NULL,
	[Direccion_Longitud] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Negocio] PRIMARY KEY CLUSTERED 
(
	[id_Negocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[Negocio_Login]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Negocio_Login](
	[id_Negocio] [int] NOT NULL,
	[id_Usuario] [int] NOT NULL,
 CONSTRAINT [PK_Negocio_Login] PRIMARY KEY CLUSTERED 
(
	[id_Negocio] ASC,
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[Negocio_PalabrasClave]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Negocio_PalabrasClave](
	[id_Negocio] [int] NOT NULL,
	[id_PalabrasClave] [int] NOT NULL,
 CONSTRAINT [PK_Negocio_PalabrasClave] PRIMARY KEY CLUSTERED 
(
	[id_Negocio] ASC,
	[id_PalabrasClave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[Negocio_Producto]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Negocio_Producto](
	[id_Negocio] [int] NOT NULL,
	[id_Producto] [int] NOT NULL,
	[Precio] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_Negocio_Producto] PRIMARY KEY CLUSTERED 
(
	[id_Negocio] ASC,
	[id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[PalabrasClave]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[PalabrasClave](
	[id_PalabrasClave] [int] IDENTITY(1,1) NOT NULL,
	[caracter_PalabrasClave] [nchar](1) NULL,
	[texto_PalabrasClave] [nvarchar](50) NULL,
 CONSTRAINT [PK_PalabrasClave] PRIMARY KEY CLUSTERED 
(
	[id_PalabrasClave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [yachaydi_admin].[Producto]    Script Date: 11/28/2017 7:59:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yachaydi_admin].[Producto](
	[id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [yachaydi_admin].[Horario_Negocio] ([id_Negocio], [dia_Laboral], [dia_nombre], [Hora_Inicio], [Minutos_Inicio], [Hora_Fin], [Minutos_Fin]) VALUES (1, 1, N'Lunes', 9, 0, 19, 0)
INSERT [yachaydi_admin].[Horario_Negocio] ([id_Negocio], [dia_Laboral], [dia_nombre], [Hora_Inicio], [Minutos_Inicio], [Hora_Fin], [Minutos_Fin]) VALUES (1, 2, N'Martes', 9, 0, 22, 0)
INSERT [yachaydi_admin].[Horario_Negocio] ([id_Negocio], [dia_Laboral], [dia_nombre], [Hora_Inicio], [Minutos_Inicio], [Hora_Fin], [Minutos_Fin]) VALUES (1, 3, N'Miércoles', 9, 0, 18, 0)
GO
SET IDENTITY_INSERT [yachaydi_admin].[Negocio] ON 

INSERT [yachaydi_admin].[Negocio] ([id_Negocio], [email_Negocio], [Nombre], [Telefono], [Celular], [Direccion_texto], [Referencia], [Direccion_Latitud], [Direccion_Longitud], [Descripcion]) VALUES (1, N'amaya@gmail.com', N'AMAYA', NULL, NULL, N'Av.Huandoy Mz.B Lte.22', NULL, N'-11.978045819858435', N'-77.08367764949799', NULL)
INSERT [yachaydi_admin].[Negocio] ([id_Negocio], [email_Negocio], [Nombre], [Telefono], [Celular], [Direccion_texto], [Referencia], [Direccion_Latitud], [Direccion_Longitud], [Descripcion]) VALUES (2, N'amenurbanspa@gmail.com', N'AMEN', NULL, NULL, N'Av.Huandoy Mz.LL Lte.17', NULL, N'-11.980336396100235', N'-77.08476796746254', NULL)
INSERT [yachaydi_admin].[Negocio] ([id_Negocio], [email_Negocio], [Nombre], [Telefono], [Celular], [Direccion_texto], [Referencia], [Direccion_Latitud], [Direccion_Longitud], [Descripcion]) VALUES (3, N'fusion.marina@gmail.com', N'FUSION MARINA SAC', NULL, NULL, N'Av Petitt Thouars', NULL, N'-12.099102164566705', N'-77.03109294176102', NULL)
GO
SET IDENTITY_INSERT [yachaydi_admin].[Negocio] OFF
INSERT [yachaydi_admin].[Negocio_Login] ([id_Negocio], [id_Usuario]) VALUES (3, 3)
INSERT [yachaydi_admin].[Negocio_PalabrasClave] ([id_Negocio], [id_PalabrasClave]) VALUES (1, 1)
INSERT [yachaydi_admin].[Negocio_PalabrasClave] ([id_Negocio], [id_PalabrasClave]) VALUES (3, 3)
INSERT [yachaydi_admin].[Negocio_PalabrasClave] ([id_Negocio], [id_PalabrasClave]) VALUES (3, 4)
GO
INSERT [yachaydi_admin].[Negocio_Producto] ([id_Negocio], [id_Producto], [Precio]) VALUES (3, 1, CAST(12.00 AS Decimal(8, 2)))
INSERT [yachaydi_admin].[Negocio_Producto] ([id_Negocio], [id_Producto], [Precio]) VALUES (3, 2, CAST(10.00 AS Decimal(8, 2)))
INSERT [yachaydi_admin].[Negocio_Producto] ([id_Negocio], [id_Producto], [Precio]) VALUES (24, 4, CAST(30.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [yachaydi_admin].[PalabrasClave] ON 

INSERT [yachaydi_admin].[PalabrasClave] ([id_PalabrasClave], [caracter_PalabrasClave], [texto_PalabrasClave]) VALUES (1, N'C', N'cortes')
INSERT [yachaydi_admin].[PalabrasClave] ([id_PalabrasClave], [caracter_PalabrasClave], [texto_PalabrasClave]) VALUES (2, N'P', N'peinados')
INSERT [yachaydi_admin].[PalabrasClave] ([id_PalabrasClave], [caracter_PalabrasClave], [texto_PalabrasClave]) VALUES (3, N'A', N'Arroz con pollo')
GO
SET IDENTITY_INSERT [yachaydi_admin].[PalabrasClave] OFF
SET IDENTITY_INSERT [yachaydi_admin].[Producto] ON 

INSERT [yachaydi_admin].[Producto] ([id_Producto], [Nombre]) VALUES (1, N'Arroz con Pollo')
INSERT [yachaydi_admin].[Producto] ([id_Producto], [Nombre]) VALUES (2, N'Lomo Saltado')
INSERT [yachaydi_admin].[Producto] ([id_Producto], [Nombre]) VALUES (3, N'Torta 3 leches')
SET IDENTITY_INSERT [yachaydi_admin].[Producto] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Negocio__298D1377DFB0EA3E]    Script Date: 11/28/2017 7:59:37 AM ******/
ALTER TABLE [yachaydi_admin].[Negocio] ADD UNIQUE NONCLUSTERED 
(
	[email_Negocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [yachaydi_admin].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_Negocio] FOREIGN KEY([IdNegocio])
REFERENCES [yachaydi_admin].[Negocio] ([id_Negocio])
GO
ALTER TABLE [yachaydi_admin].[Alerta] CHECK CONSTRAINT [FK_Alerta_Negocio]
GO
ALTER TABLE [yachaydi_admin].[Horario_Negocio]  WITH CHECK ADD  CONSTRAINT [AK_Horario_Negocio] FOREIGN KEY([id_Negocio])
REFERENCES [yachaydi_admin].[Negocio] ([id_Negocio])
GO
ALTER TABLE [yachaydi_admin].[Horario_Negocio] CHECK CONSTRAINT [AK_Horario_Negocio]
GO
ALTER TABLE [yachaydi_admin].[Negocio_Login]  WITH CHECK ADD  CONSTRAINT [AK_Negocio_Login_Negocio] FOREIGN KEY([id_Negocio])
REFERENCES [yachaydi_admin].[Negocio] ([id_Negocio])
GO
ALTER TABLE [yachaydi_admin].[Negocio_Login] CHECK CONSTRAINT [AK_Negocio_Login_Negocio]
GO
ALTER TABLE [yachaydi_admin].[Negocio_PalabrasClave]  WITH CHECK ADD  CONSTRAINT [AK_Negocio_NegPalCl] FOREIGN KEY([id_Negocio])
REFERENCES [yachaydi_admin].[Negocio] ([id_Negocio])
GO
ALTER TABLE [yachaydi_admin].[Negocio_PalabrasClave] CHECK CONSTRAINT [AK_Negocio_NegPalCl]
GO
ALTER TABLE [yachaydi_admin].[Negocio_PalabrasClave]  WITH CHECK ADD  CONSTRAINT [AK_PalabrasClave_NegPalCl] FOREIGN KEY([id_PalabrasClave])
REFERENCES [yachaydi_admin].[PalabrasClave] ([id_PalabrasClave])
GO
ALTER TABLE [yachaydi_admin].[Negocio_PalabrasClave] CHECK CONSTRAINT [AK_PalabrasClave_NegPalCl]
GO
ALTER TABLE [yachaydi_admin].[Negocio_Producto]  WITH CHECK ADD  CONSTRAINT [AK_Negocio_NP] FOREIGN KEY([id_Negocio])
REFERENCES [yachaydi_admin].[Negocio] ([id_Negocio])
GO
ALTER TABLE [yachaydi_admin].[Negocio_Producto] CHECK CONSTRAINT [AK_Negocio_NP]
GO
ALTER TABLE [yachaydi_admin].[Negocio_Producto]  WITH CHECK ADD  CONSTRAINT [AK_Producto_NP] FOREIGN KEY([id_Producto])
REFERENCES [yachaydi_admin].[Producto] ([id_Producto])
GO
ALTER TABLE [yachaydi_admin].[Negocio_Producto] CHECK CONSTRAINT [AK_Producto_NP]
GO
USE [master]
GO
